<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="{% static 'main\static\images\kniga1.jpg' %}" alt="">
    <img src="{% static 'main\static\images\kniga2.jpg' %}" alt="">
    <img src="{% static 'main\static\images\kniga3.jpg' %}" alt="">
    <img src="{% static 'main\static\images\kniga4.jpg' %}" alt="">
    <h1>текст1</h1>
    <h2>текст2</h2>
    <h3>текст3</h3>
    <h4>текст4</h4>
    <a href="book\templates\main.html">book</a>
    <a href="author\templates\main.html">author</a>
</body>
</html>